@model DapperProject.Models.State

@{
    ViewData["Title"] = "Create State";
}

<h1>Create State</h1>

<h4>State</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label asp-for="StateName" class="control-label"></label>
                <input asp-for="StateName" class="form-control" />
                <span asp-validation-for="StateName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a asp-action="Index">Back to List</a>
</div>
